html, body {
    height:100%;
}
body {
    background-color: white;
    background-attachment: fixed;
    background-image: url('http://www.yosemitehikes.com/images/wallpaper/yosemitehikes.com-valley-winter-1920x1200.jpg');
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: left top;
}
body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.app{

  height: 100%;
  // background-position: center;
  // background-attachment: center;
  // background-size: auto 100%;
  // background-repeat: no-repeat;
  // background-position: left top;

}
h1, h2, h3 {
  font-weight: 500;
}
.header{
  width: 100%;
  text-align: left;
}

.card{
  h2, h3 {
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.prayercard-buttons{
  button{
    margin: 10px;
  }
}

.allPrayedFor-message{
  font-weight: normal;
  color: #333;
  background: #a5d6a7;
  padding: 15px;
  border: 1px solid #2e7d32;
  border-radius: 3px;
  -webkit-box-shadow: 0px 6px 65px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 65px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 65px -10px rgba(0,0,0,0.75); 
}

.nav-link{
  color: white;
  text-decoration: none;
  margin-left: 10px;
  opacity: 1;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  &:hover{
    opacity: 0.5;
  }
}

.delete-button{
  float: left;
}
.edit-row{
  margin-bottom: 20px;
}
.menu-link {
  text-decoration: none;
}
.field-line, .button-line {
  padding: 16px;
}
.card-heading {
  padding: 16px;
}
.prayedfor-card{
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
}
.pagination {
  background-color: white;
}